span.chapter-num
{
  font-size: 1.7em;
  font-weight: bold;
}

div.info
{
  font-family: Arial, Helvetica, sans-serif;
}


div.info
{
  width: 25.7em;
  margin-left: 5em;
  font-size: 0.7em;
  text-align: justify;
  padding-bottom: 6pt;
}


span.speaker, div.proltitle
{
  font-size: 0.7em;
  text-transform: uppercase;
}

div.proltitle
{
  text-align: center;
  margin-bottom: 0pt;
  padding-bottom: 0pt;
}

div.docsig
{
  font-variant: small-caps;
  text-align: right;
}

span.emph
{
  font-style: italic;
}

span.vc
{
  font-size: 0.35em;
  font-weight: normal;
}

#text .chapter, #text p
{
  text-align: justify;
  font-family: serif;
  font-size: 120%;
  font-weight: normal;
}

div.chapter
{
  padding-bottom: 1.7em;
}


.vn
{
  font-size: 0.57em;
  vertical-align: super;
  color: red;
}

.verse
{
  font-size: 1em;
  font-weight: normal;
}

div.poetry,div.poetrystartchapter
{
  text-align: left;
  margin-left: 8%;
  margin-right: 8%;
}

div.poetrystartchapter
{
  margin-top: -1.7em;
}

